@import './../../../css/variables.scss';

.navigation {
  display: flex;
  align-items: center;
  margin: 0;

  a {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-x-small;
    margin: 0 25px 0 20px;
    font-weight: 500;
    line-height: 1.3;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }
}

.banner-nav {
  .banner #menuToggle input {
    opacity: 0;
  }
}