// @import './../../css/main.scss';
@import './../../css/variables.scss';


.gallery {
  max-width: calc(#{$large} + 75px);
  margin: 0 auto;
  padding: 97px 0;

  &-title {
    text-align: center;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    li {
      width: calc(33.33% - 40px);
      margin: 0 12.5px 12px;
      justify-content: center;
    }

    @media (max-width: 768px) {
      li {
        width: calc(50% - 25px);
      }
    }
    @media (max-width: 500px) {
      li {
        width: 100%;
      }
    }
  }

  .post {
    &-link {
      text-decoration: none;
    }

    &-image img {
      width: 100%;
      margin-bottom: 22px;
      max-height: 290px;
    }

    &-title {
      font-size: $font-medium;
    }

    &-description {
      font-size: $font-small;
      color: $grey;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: $breack-large) {
  .gallery {
    max-width: $medium;
  }
}
@media (max-width: $breack-medium) {
  .gallery {
    max-width: $small;
  }
}