@import './normalize.scss';
@import './variables.scss';


.App {
  overflow: hidden;
}

// Global styles for all components
.section-title {
  font-size: $font-x-large;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 47px;
}

.button {
  border: 2px solid $separator-border;
  background: $white;
  font-size: $font-xx-small;
  line-height: 1.4;
  text-transform: uppercase;
  padding: 10px 40px;
  z-index: 1;

  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.more {
  display: flex;
  justify-content: center;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 50%;
    right: -50%;
    left: -50%;
    transform: translateY(50%);
    z-index: 0;
    height: 1px;
    background: #ccc;
  }
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: -5px;
  right: 0;
  transition: 0.5s;
  transform: rotate(90deg);
  font-size: 20px;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}