@import './../../css/variables.scss';

.collage {
  padding: 65px 0;

  &-list {
    width: 100%;
    display: flex;

    @media (max-width: $breack-medium) {
      & {
        flex-wrap: wrap;
      }
    }
  }

  &-wrap {
    width: calc(100% / 6);
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 50vh;

    @media (max-width: 500px) {
      & {
        max-height: none;
      }
    }

    &:nth-child(even) {
      flex-direction: column-reverse;
    }

    @media (max-width: $breack-medium) {
      & {
        width: calc(100% / 3);
      }
    }
    @media (max-width: 500px) {
      & {
        width: 100%;
      }
    }
  }

  &-item-top {
    max-height: 66.66%;
    height: 100%;
    object-fit: cover;

    @media (max-width: 500px) {
      & {
        max-height: none;
        height: auto;
      }
    }
  }

  &-item-bottom {
    width: 50%;
    height: 100%;
    display: flex;
    max-height: 33.33%;
    object-fit: cover;

    @media (max-width: 500px) {
      & {
        max-height: none;
        height: auto;
      }
    }
  }

  img {
    height: 100%;
    width: 100%;
    display: block;
    padding: 2px;
  }
}

