@import './../../css/variables.scss';

.footer {
  width: 100%;
  transition: 1s;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-image: url('./../../images/footer.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-img {
    width: 100%;
    height: 100vh;
  }

  &-wrap {
    padding: 7em 2.5em 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    position: relative;
    text-align: center;
  }

  &-title {
    font-size: $font-large;
    text-transform: uppercase;
    margin-bottom: 25px;

    @media (max-width: $breack-large) {
      & {
        font-size: 2rem;
      }
    }
  }

  &-description {
    font-size: $font-small;
    margin-bottom: 2.5em;

    @media (max-width: $breack-small) {
      & {
        font-size: 1rem;
      }
    }
  }

  .form {
    display: flex;
    max-width: 470px;
    width: 100%;
    position: relative;

    input {
      font-size: $font-x-small;
      margin: 0 6px 10px;

      @media (max-width: $breack-small) {
        & {
          font-size: .75rem;
          margin: 0 0 1em;
          width: 100%;
        }
      }
    }

    &-email {
      background: $white;
      border: 1px solid $grey;
      padding: 15px 1em;
      flex-grow: 1;
    }

    &-submit {
      background: $button-bg;
      border: 1px solid $button-bg;
      color: $white;
      text-transform: uppercase;
      max-width: 140px;
      width: 100%;
      padding: 15px 10px;
      transition: .5s;

      &:hover {
        background: darken($button-bg, 20%);
      }
    }

    @media (max-width: $breack-small) {
      & {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .validation-error {
    color: red;
    position: absolute;
    bottom: -15px;
    left: 10px;
    font-size: $font-x-small;
  }
}

