@import './../../css/variables.scss';


.news {
  max-width: calc(#{$large} + 75px);
  margin: 0 auto;
  padding: 97px 0 20px;

  &-title {
    text-align: center;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto 50px;
    -webkit-animation: slidein 1s;
    animation: slidein 1s;

    li {
      width: calc(33.33% - 40px);
      margin: 0 12.5px 12px;
      justify-content: center;
      position: relative;
    }

    @media (max-width: 768px) {
      li {
        width: calc(50% - 25px);
      }
    }
    @media (max-width: 500px) {
      li {
        width: 100%;
      }
    }
  }

  .post {
    &-link {
      text-decoration: none;
      font-size: $font-medium;
      
      &:hover {
        .post-more {
          opacity: 1;
        }

        .post-title,
        .post-description {
          opacity: .8;
          transition: .5s;
        }
      }
    }

    &-image img {
      width: 100%;
      margin-bottom: 25px;
      max-height: 290px;
      object-fit: cover;
    }

    &-title {
      font-size: $font-medium;
      margin-bottom: 12px;
      transition: .5s;

      &:first-letter {
        text-transform: uppercase;
      }

      @media (max-width: $breack-large) {
        & {
          font-size: .75em;
        }
      }
    }

    &-description {
      font-size: $font-small;
      padding-bottom: 60px;
      font-weight: 200;
      transition: .5s;

      @media (max-width: $breack-large) {
        & {
          font-size: .5em;
        }
      }
    }
    
    &-more {
      position: absolute;
      bottom: 20px;
      left: 10px;
      opacity: 0;
      transition: .3s;

      a {
        text-decoration: none;
        color: $grey;
        font-size: .5em;
      }
    }
  }
}

@media (max-width: $breack-large) {
  .news {
    max-width: $medium;
  }
}
@media (max-width: $breack-medium) {
  .news {
    max-width: $small;
  }
}


// loader icon
.lds-roller {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  transform: translate(50%, 50%);
  min-height: 50vh;

  & div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }

  & div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $grey;
    margin: -3px 0 0 -3px;
  }

  & div:nth-child(1) {
    animation-delay: -0.036s;
  }
  & div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  & div:nth-child(2) {
    animation-delay: -0.072s;
  }
  & div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  & div:nth-child(3) {
    animation-delay: -0.108s;
  }
  & div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  & div:nth-child(4) {
    animation-delay: -0.144s;
  }
  & div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  & div:nth-child(5) {
    animation-delay: -0.18s;
  }
  & div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  & div:nth-child(6) {
    animation-delay: -0.216s;
  }
  & div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  & div:nth-child(7) {
    animation-delay: -0.252s;
  }
  & div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  & div:nth-child(8) {
    animation-delay: -0.288s;
  }
  & div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// small animation
@keyframes slidein {
  0%   {opacity: 0}
  15%  {opacity: .2}
  30%  {opacity: .3}
  55%  {opacity: .6}
  100% {opacity: 1}
}

